<section id="home" class="section">
  <h1>SPA con Angular</h1>
  <div class="content">
    <p>Página Home. Actividad 4 para la asignatura SPA en Angular.</p>
    <p>En esta versión del proyecto se practicó:</p>
    <ul class="topics">
      <li>Llamada a una API por medio de un servicio</li>
      <li>Uso decoradores @Input y @Output para intercambiar información entre componentes</li>
      <li>Propiedades tipadas por medio de Interfaces</li>
      <li>Uso de Pipes</li> 
    </ul>
  </div>
</section>
