/* You can add global styles to this file, and also import other style files */
// FONTS
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: NeueMachina;
  src: url('./assets/fonts/Neue-Machina/NeueMachina-Regular.otf');
  font-weight: normal;
  font-style: normal;
};

$font-normal: 'Mulish', sans-serif;
$font-title: 'NeueMachina', serif;

// COLORS
$purple: #662d91;
$green: #A1F76D;
$accent: #DD4A68;

// HEIGHTS MARGINS
$hHeader: 70px;
$hFooter: 50px;
$margin-y-section: 30px;

//TAGS
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  height: 100%;
  min-height: 100%;
}

h1, h2 {
    font-family: $font-title;
    margin: 30px;
}

h1 {
  color: $purple;
  font-size: 5rem;
}

li {
    list-style: none;
    font-family: $font-normal;
}

a {
    font-family: $font-title;
    text-decoration: none;
    display: inline-block;
 }

 p {
    font-family: $font-normal;
    margin: 10px;
 }

 //GLOBAL CLASSSES
 .section, .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px auto;
    min-height: calc(100vh - (#{$hHeader + $hFooter + (2*$margin-y-section)}));
    width: 70vw;
 }

 .contact-form, .sign-up-form {
  // max-width: 450px;
  margin: 50px 30px;
  display: flex;
  flex-direction: column;

  > div {
    width: 100%;
    margin: 0 10px 30px;
    > label {
      font-size: 1rem;
      font-weight: bold;
      font-family: 'NeueMachina', serif;;
      height: 119.6px;
    }
    
    > input,
    > textarea {
      // color: whitesmoke;
      width: 100%;
      padding: 20px 20px 20px 50px;
      background: transparent;

      &:focus-visible {
        outline-color: $purple;
      }
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &[type=number] {
        appearance: textfield;
        -moz-appearance: textfield;
      }
      
      &:invalid:focus:not(:placeholder-shown) {
        & ~ .error {
          max-height: 200px;
          opacity: 1;
        }
      }
    }
    
    .error {
      opacity: 0;
      color: $accent;
      min-height: 40px;
      transition: 0.28s;
      overflow: hidden;
    }

    .input-message {
      color: $accent;
      min-height: 40px;
      display:inline-block;
    }
    
    textarea {
      padding: 10px;
      min-height: 100px;
      font-family: 'Mulish', sans-serif;
      text-align: left;
    }
    &:focus {
      // color: whitesmoke;
      outline: 0;
      & ~ span {
        opacity: 1;
      }
    }
  }

  .buttons-form {
    display: flex;
    justify-content: space-around;
  }

}

.button, a.button {
   font-family:'NeueMachina', serif;
   font-weight: 600;
   border: solid 2px $green;
   outline: 0;
   padding: 1rem 4rem;
   font-size: 1.5rem;
   letter-spacing: .08rem;
   background-color: whitesmoke;
   position: relative;
   cursor: pointer;
   
   &::after {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     background-color: $green;
     z-index: -1;
     transition: all 0.3s ease-in-out;
     border: 0;
     box-shadow: 0px 0px 0px 2px whitesmoke;
     width: calc(100%);
     height: calc(100%);
 }
   &:hover {
     &::after {
       top: -#{0.5rem};
       left: -#{0.5rem};
       width: calc(100% + #{0.5rem} * 2);
       height: calc(100% + #{0.5rem} * 2);
     }
   }

  .btn-form {
    margin: 30px auto;
    display: block;
  }


}